*{
    box-sizing: border-box;
}
body{
    background-color: rgb(125, 124, 124);
}
h1{
    background-color: turquoise;
    text-align: center;
    text-transform: capitalize;
    text-decoration: antiquewhite;
}
img{
    border: 10px salmon;
}