*{
    box-sizing: border-box;
}
body{
    background-color: rgb(123, 122, 117);
}
h1{
    background-color: turquoise;
    text-align: center;
    text-transform: capitalize;
    text-decoration: antiquewhite;
}
img{
    border: 10px solid salmon;
}